go 1.26.2

use (
	./apps/ch-migrations-tool
	./apps/migrations-tool
	./apps/account-svc
	./apps/confirmation-of-payee-svc
	./apps/fraud-detection-svc
	./apps/identity-svc
	./apps/ledger-svc
	./apps/merchant-svc
	./apps/oauth-svc
	./apps/payment-decision-svc
	./apps/payment-svc
	./apps/payment-switch-svc
)
