go 1.26.2

use (
	./apps/go-service-account
	./apps/go-service-cop
	./apps/go-service-fraud-detection
	./apps/go-service-id
	./apps/go-service-ledger
	./apps/go-service-merchant
	./apps/go-service-oauth
	./apps/go-service-payment
	./apps/go-service-payment-decision
	./apps/go-service-payment-switch
	./apps/go-tool-ch-migrations
	./apps/go-tool-migrations
	./packages/go-luhn
)
